<dl ...attributes>
    <dt>
        {{#if this.userDetails.url}}
            <a
                href={{this.userDetails.url}}
                target="_blank"
                rel="noopener noreferrer"
            >
                {{@song.title}}
            </a>
        {{else}}
            {{@song.title}}
        {{/if}}
    </dt>
    {{#if @song.startsWith}}
        <dd>{{@song.startsWith}}</dd>
    {{/if}}
    {{#each this.details as |d|}}
        {{#let (get d "0") (get d "1") as |icon details|}}
            {{#each details.notes as |note|}}
                <dd>{{icon}} {{note}}</dd>
            {{/each}}
        {{/let}}
    {{/each}}
</dl>