{{page-title @model.gig.title}}

<h2>{{@model.gig.title}}</h2>

<div class="sets">
    {{#each @model.gig.sets as |set|}}
        <div data-test-set={{set.title}}>
            <h3>{{set.title}} ({{set.length}} minutes)</h3>

            {{#each set.songs as |m|}}
                <Song @song={{m}} @user={{@model.user}} @info={{@model.info}} />
            {{/each}}
        </div>
    {{/each}}
</div>